{% extends 'base.html' %}
{% block title %}Новая новость{% endblock %}

{% block content %}
<h2>Создать новость</h2>
<form method="POST">
  <div class="mb-3">
    <label class="form-label">Заголовок</label>
    <input type="text" name="title" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Текст</label>
    <textarea name="content" class="form-control" rows="6" required></textarea>
  </div>
  <button type="submit" class="btn btn-success">Сохранить</button>
</form>
{% endblock %}
